body {
  margin: 0;
  background: #03030a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  --bs-body-bg: #03030a;
  --bs-body-color: #ffffff;
  --bs-heading-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}